body{
background-color: black;
}
h1{
color:whitesmoke;;
}
h2{
    color:lightblue

}
h3{
    color: white;
}
button{
  color: rgb(57, 3, 68);
  background-color: yellow; 
  size: 40px;
  width: 100px;
  transition: .5s;
}
em{
  color: whitesmoke;
}
href{
  color: white;
}
#dev{
    color:#fff8de;
    position: absolute;
    right: 60px;
    top: 10px;
    width: 70px;
    height: 20px;
    border: 3px solid #b7bdf7;
    border-radius: 50%;
    padding: 10px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 40px;
    background-color: rgb(18, 17, 17);
    align-items: center;
    justify-content: center;
}
#Aman{
    color:white;
    left:300px;
    width: 50px;
    height: 20px;
    padding: 10px;
    padding-top:0px;
    padding-bottom: 50px;
    padding-left: 150px;
    display: absolute;
    margin: 0%;
}
#hello{
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 200px;
    height: 50px;
    padding-left: 10px;
    display: absolute;
    left: 0px;
  }
div{
    background-color: rgb(6, 6, 6);
    border-radius: 30px;
    padding: 0%;
    margin: 0px;
    border: 2px solid white;
}
#profile-image{
      border-radius: 20px;
      margin-top: 20px;

      margin:0px;
      text-align: center;
      height: 600px;
      width: 600px;
}
a{
 text-decoration: none;
        color: rgba(240, 236, 232, 0.938);
                font-size: 3em;
  }

    
        
        h4{
            color: aliceblue;
        }
.image img{
    width: 100%;
    height: 350px;
    left: 0px;
    margin: 0%;
    border: 1px solid white;
    border-radius: 20px;
}       
.title{
    color: white;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.butt{
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    text-align:center;
}
.card{
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid white;
    width: 500px;
    height: auto;
    box-shadow: 1px 5px 5px grey;
    display: inline-block;
}
.card:hover{
    box-shadow: 3px 5px 15px white;
    transition: 0.5s;
}
#pic
{
    height: 30%;
    width: 30%;
}
img{
    width: 30%;
    height: 30%;
}

